html {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Oxygen', sans-serif;
    background: #c9dbff;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    cursor: default;
}

/* BUTTON FOR BUYING THINGS */

.purchase-button {
    background: #f4f496;
    border: solid 1px #C48E48;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 8px;
    right: 25%;
    left: 50%;
    margin-left: -100px;
    padding: 8px;
    width: 200px;
}
.purchase-button:hover {
    background: #ffffb4;
}
.purchase-button.disabled {
    background: #aaa;
    border: solid 1px #888;
}
.purchase-button.disabled:hover {
    background: #aaa;
}

/* STANDARD TABLE STYLE */

.title {
    background: #830;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-weight: 700;
}
.inner {
    background: #fde;
    padding: 8px;
}
.inner-item {
    width: 100%;
    background: #fff;
    border: solid 1px #d8d8d8;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-top: 8px;
}
/* MAIN MENU AND MENU BUTTONS */

.main {
    width: 980px;
    margin: auto;
}
.btn {
    width: 120px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    padding: 10px;
    background: #2980b9;
    text-decoration: none;
    float: left;
    margin-right: 5px;
}
.btn:hover {
    background: #3498db;
    text-decoration: none;
}
.buy-menu {
    background: #ccc;
    padding: 5px;
    width: 300px;
}

/* TEXT STYLES */

.header-text {
    font-weight: 700;
    font-size: 14pt;
}
.bold-aqua {
    color: #009acd;
    font-weight: 700;
}
.bold-amber {
    color: #ee6914;
    font-weight: 700;
}
.bold-blue {
    color: #000080;
    font-weight: 700;
}
.number {
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

/* THE GOLD G SYMBOL FOR COIN */

.gold-g {
    color: #ffff88;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
}


/* MODALS */

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal:target:before {
    display: block;
}
.modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}
.modal-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-body {
    padding: 20px;
}
.modal-header,
.modal-footer {
    padding: 10px 20px;
}
.modal-header {
    border-bottom: #eeeeee solid 1px;
}
.modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}
#close {
    display: none;
}