/* PARTY SELECT */

.party-select {
    width: 350px;
    border: solid 1px #000;
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;
    height: 450px;
    background: #fde;
    position: relative;
}
.party-select .inner {
    height: 410px;
    overflow: auto;
}
.party-select .inner-item {
    padding: 5px;
    margin-top: 0px;
    background: #fff;
}
.in-party.inner-item {
    border-left: solid 3px #44e;
}
.party-select .hero-selected {
    background: #fdba96;
    background: -moz-linear-gradient(left, #fdba96 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fdba96), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left, #fdba96 0%,#ffffff 100%);
    background: -o-linear-gradient(left, #fdba96 0%,#ffffff 100%);
    background: -ms-linear-gradient(left, #fdba96 0%,#ffffff 100%);
    background: linear-gradient(to right, #fdba96 0%,#ffffff 100%);
}
.in-party.hero-selected {
    background: #b0b0ff;
    background: -moz-linear-gradient(left,  #b0b0ff 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b0b0ff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left,  #b0b0ff 0%,#ffffff 100%);
    background: -o-linear-gradient(left,  #b0b0ff 0%,#ffffff 100%);
    background: -ms-linear-gradient(left,  #b0b0ff 0%,#ffffff 100%);
    background: linear-gradient(to right,  #b0b0ff 0%,#ffffff 100%);
}
.party-select .inner-item:hover {
    background: #fdba96;
}
.in-party.inner-item:hover {
    background: #b0b0ff;
}
.list-display-name {
    font-weight: 700;
}
.hero-sort {
    background: #b8a0f0;
    text-align: center;
    width: 18px;
    border: solid 1px #000;
    float: right;
    font-weight: 700;
}
.hero-sort:hover {
    background: #e0d0ff;
}
.party-info {
    display: none;
    width: 590px;
    background: #eee;
    height: 500px;
    border: solid 1px #000;
    float: left;
    padding: 10px;
    position: relative;
}
#buy-hero-info .purchase-button {
}
.class-select {
    margin: 0 auto;
    width: 300px;
}
.party-info select {
    width: 300px;
    font-size: 12pt;
    padding: 5px;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    color: #fff;
    background: #3521a0;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 5px;
}
.party-info select:hover {
    background: #6a5acd;
}
.portrait {
    float: left;
    height: 74px;
    width: 74px;
    background: black;
    margin-right: 8px;
    margin-bottom: 8px;
}
.hero-main-info {
    position: relative;
    font-size: 15pt;
    line-height: 90%;
}
#hero-name-class {
    position: absolute;
    z-index: 3;
    font-weight: 700;
    left: 90px;
}
#hero-hp {
    position: absolute;
    right: 20px;
    z-index: 3;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}
#hero-xp {
    position: absolute;
    right: 20px;
    z-index: 3;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    top: 36px;
}
#personal-inventory {
    float: left;
}
.hero-main-info progress {
    z-index: 0;
    width: 475px;
    height: 20px;
    border: solid 1px #888;
    background: #666;
    margin: 0px;
}
.hero-main-info progress::-webkit-progress-bar {
    background: #aaa;
}
#health-bar {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #64ff7d;
}
#xp-bar {
    position: absolute;
    top: 43px;
    right: 10px;
    color: #d9ff30;
}
#xp-bar::-webkit-progress-value {
    background: #d9ff30;
}
#health-bar::-webkit-progress-value {
    background: #64ff7d;
}
.stats-table {
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    float: left;
    margin-left: 10px;
    height: 74px;
    background: #eef;
    width: 70px;
    padding: 3px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.stats-table::first-line {
    font-weight: 700;
    color: #f00;
}
.hero-skills {
    height: 300px;
    overflow: auto;
}
.skill-slot {
    width: 560px;
    background: #fff;
    border: solid 1px #000;
    padding: 5px;
    position: relative;
}
.skill-slot ~ .skill-slot {
    border-top: none;
}
.cooldown {
    position: absolute;
    float: right;
    right: 5px;
    top: 0px;
}
.party-options {
    position: absolute;
    bottom: -50px;
    left: 0px;
}
.party-option-button {
    float: left;
    height: 40px;
    width: 109px;
    border: solid 1px #000;
    text-align: center;
    padding-top: 7px;
    background: #82f095;
}
.party-option-button:hover {
    background: #b2ffc8;
}
.party-option-button ~ .party-option-button {
    margin-left: 10px;
}