#space-taker {
    float: left;
    width: 640px;
    height: 480px;
}
#battle-back {
    width: 640px;
    height: 480px;
    background: url('https://illiaworld.files.wordpress.com/2012/02/wet-cave1.jpg');
    position: absolute;
    display: none;
}
.battle-button {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    float: left;
}
.battle-progress {
    position: absolute;
    right: 10px;
    width: 120px;
    height: 40px;
}

.battle-button,
.battle-progress {
    background: #82f095;
    border: solid 1px #000;
    border-top: none;
    text-align: center;
    padding-top: 10px;
}

.battle-button:hover,
.battle-progress:hover {
    background: #b2ffc8;
}
.battle-button.disabled,
.battle-button.disabled:hover,
.battle-progress.disabled,
.battle-progress.disabled:hover {
    background: #aaa;
}
#map-wrapper {
    width: 640px;
    height: 480px;
    float: left;
    position: absolute;
    overflow: hidden;
}
#map {
    width: 2600px;
    height: 1600px;
    background: url('http://orig12.deviantart.net/59bd/f/2012/092/8/f/fantasy_world___geographical_map_by_sheep_militia-d4usa8q.jpg');
    position: relative;
}
.destination {
    background: url('../img/destination.png') no-repeat;
    font-size: 10pt;
    height: 32px;
    width: 32px;
    position: absolute;
    overflow: visible;
}

.destination .under {
    height: 25px;
    width: 192px;
    color: #fff;
    background: rgba(0,0,0,.75);
    position: absolute;
    left: -80px;
    top: -42px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, margin 0.5s;
    transition: opacity 0.5s, margin 0.5s;
    padding: 4px;
    text-align: center;
}

.destination:hover .under {
    opacity: 1;
    margin-top: 16px;
}

#travel-party {
    float: right;
    height: 400px;
    width: 300px;
}
.travel-member {
    height: 50px;
    width: 300px;
    border: solid 1px #000;
    position: relative;
    background: #aaa;
    z-index: 0;
}
.travel-member ~ .travel-member {
    height: 49px;
    border-top: none;
}
.travel-portrait {
    height: 48px;
    width: 48px;
    background: black;
    background-size: 48px 48px;
    float:left;
    border-right:solid 1px #000;
}
.travel-info {
    height: 24px;
    width: 250px;
    left: 48px;
    padding-top: 2px;
    padding-left: 2px;
    overflow: visible;
    white-space: nowrap;
    z-index: 0;
}
.travel-hp {
    position: absolute;
    top: 0px;
    background:#64ff7d;
}
.travel-xp {
    position: absolute;
    bottom: 0px;
    background:#d9ff30;
}
.status {
    height: 24px;
    width: 24px;
    float:right;
    position: relative;
    z-index: 3;
    background: url('http://orig05.deviantart.net/8dec/f/2013/259/8/3/iconset_reordenado__recoloreado_de_japozero_by_xxjapozeroxx-d6mk3qb.png');
}
.status.poison {
    background-position: -24px 0px;
}
#travel-info {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin:15px;
    background:#bbb;
    border: solid 1px #000;
    height: 75px;
    width: 300px;
    padding: 3px;
}
#travel-desc {
    font-size: 10pt;
    width: 180px;
}
#enter-exit {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 8px;
    height: 57px;
    border: solid 1px #000;
    padding: 18px;
    background: #82f095;
    text-align: center;
    width: 100px;
}
#enter-exit:hover {
    background: #b2ffc8;
}

.enemy-pic {
    position: absolute;
    background: red;
    height: 100px;
    width: 100px;
}

#dest-select {
    height:32px;
    width:32px;
    background: rbga(0,0,0,0);
    border: solid 1px #ff8030;
    position: absolute;
}
#dest-hills {
    left: 400px;
    top: 400px;
    background-position: -0px 0px;
}
#dest-forest {
    left: 540px;
    top: 520px;
    background-position: 0px -32px;
}