html {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Oxygen', sans-serif;
    background: #c9dbff;
}

.purchase-button {
    background:#f4f496;
    border: solid 1px #C48E48;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

.purchase-button:hover {
    background:#ffffb4;
}

.purchase-button.disabled {
    background: #aaa;
    border: solid 1px #888;
}

.purchase-button.disabled:hover {
    background: #aaa;
}

/* ACCORDION MENUS */

.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 0px 30px rgba(0, 0, 0, 0.25);
    background:#fff;
}
.accordion-section-title {
    width:100%;
    border-radius: 0px;
    padding:5px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    color:#fff;
}
.accordion-section-title.active {
    background:#555;
}
.accordion-section-title:hover {
    background:#777;
}
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
.accordion-section-content {
    padding:15px;
    display:none;
}

/* MAIN MENU AND MENU BUTTONS */

.main {
    width:980px;
    margin:auto;
}
.btn {
    width:120px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0px;
    color:#ffffff;
    padding:10px;
    background:#2980b9;
    text-decoration:none;
    float:left;
    margin-right:5px;
}
.btn:hover {
    background:#3498db;
    text-decoration:none;
}
.buy-menu {
    background:#ccc;
    padding:5px;
    width:300px;
}

/* NOTIFICATIONS */

.notifications {
    width: 250px;
    border: solid 1px #000;
    float: left;
    margin-right: 10px;
}

.notifications .inner {
    height: 300px;
    overflow: scroll;
}

.notifications .inner-item {
    position: relative;
    padding: 10px;
}

.notifications .close-x {
    position: absolute;
    top: -6px;
    right: 2px;
    font-size: 14pt;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

.notifications .close-x:hover {
    text-shadow:
    -1px -1px 0 #f00,
    1px -1px 0 #f00,
    -1px 1px 0 #f00,
    1px 1px 0 #f00;
}

/* BATTLE LOG */

.battle-log {
    border: solid 1px #000;
    width: 687px;
    height: 332px;
    background: #eee;
    float: left;
    padding: 0px 8px;
}

.battle-event {
    font-size:11pt;
    border-bottom: solid 1px #aac;
}

/* PANEL OF MIRACLES */

.miracle-panel {
    width: 950px;
}

.miracle-button {
    float: left;
    height: 80px;
    width: 310px;
    margin-bottom: 10px;
    overflow:hidden;
}

.miracle-cd {
    position: absolute;
    right: 1px;
    top: 0px;
}

#bountiful {
    background: url('img/bountiful-sunlight.png');
}

#judgement {
    background: url('img/judgement.png');
}

#sancturary {
    background: url('img/sancturary.png');
}

#witching {
    background: url('img/witching.png');
}

#melody {
    background: url('img/melody.png');
}

#kingdom {
    background: url('img/kingdom.png');
}

.miracle-button.middle{
    margin-left:10px;
    margin-right:10px;
}

.miracle-name {
    position: relative;
    color: #fff;
    background: rgba(0,0,0,0.7);
}

.miracle-desc {
    opacity:0;
    height:100%;
    font-size: 10pt;
    background: rgba(0,0,0,0.55);
    color: #fff;
    padding:5px;
}

.miracle-desc:hover {
    opacity:1;
}

/* TABLE OF GOLD AND INCOME */

.bank-table {
    width: 950px;
    border: solid 1px #000;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}

.bank-table td {
    background: #fde;
    border: solid 1px #000;
    color: #333;
    padding:5px;
}

.bank-table td:nth-child(1) {
    height:32px;
    background: #830;
    color: #fff;
    font-weight: 700;
    width: 180px;
}

.bank-table td:nth-child(2) {
    text-align: right;
    width: 420px;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

.bank-table td:nth-child(3) {
    text-align: right;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

.bank-plus {
    text-align: left;
    float: left;
}

/* TABLE AND INFO PANE FOR HIRING FROM THE KEEP */

.hire-table {
    width: 530px;
    border: solid 1px #000;
    float: left;
}

.title {
    background: #830;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-weight: 700;
}

.inner {
    background: #fde;
    padding: 8px;
}

.inner-item {
    width: 100%;
    background: #fff;
    border: solid 1px #d8d8d8;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    margin-top: 8px;
}

.hire-table .inner-item:hover {
    background: #fdba96;
}

.inner-item:first-child {
    margin-top: 0px;
}

.hire-table .hire-amount {
    padding:3px;
    background: #eee;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    float: left;
    white-space: pre-wrap;
}

.hire-table .hire-title {
    padding: 3px;
    float: left;
}

.hire-table .hire-cost {
    padding: 3px;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    float: right;
}

.hire-table .hire-selected{
    background: #fdba96;
    background: -moz-linear-gradient(left, #fdba96 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fdba96), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left, #fdba96 0%,#ffffff 100%);
    background: -o-linear-gradient(left, #fdba96 0%,#ffffff 100%);
    background: -ms-linear-gradient(left, #fdba96 0%,#ffffff 100%);
    background: linear-gradient(to right, #fdba96 0%,#ffffff 100%);
}

.hire-info {
    width: 410px;
    background: #ccc;
    float: right;
    -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    height: 410px;
    padding: 10px;
}

.hire-info .hire-info-content {
    padding: 10px;
    height: 390px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    position: relative;
}

.hire-info .purchase-button {
    text-align: center;
    position: absolute;
    bottom: 8px;
    right: 25%;
    left: 50%;
    margin-left:-100px;
    padding: 8px;
    width: 200px;
    display:none;
}

.hire-info .hire-info-unique {
    display:none;
}

/* RESEARCH */

.research {
    border: solid 1px #000;
    padding: 3px;
    background: #888;
    position: relative;
    height: 28px;
    margin-top: 6px;
}

.research:first-child {
    margin-top: 0px;
}

.research-text {
    position: absolute;
    z-index: 2;
}

.research-time {
    position: absolute;
    z-index: 2;
    right: 7px;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

.research progress {
    position: absolute;
    z-index: 1;
    width: 940px;
    height: 20px;
    border: none;
}

.pause progress {
    background: #eee;
    color: #6d6;
}

.start progress {
    background: #ccc;
    color: #f88;
}

.start progress::-webkit-progress-bar {
    background: #ccc;
}

.pause progress::-webkit-progress-bar {
    background: #eee;
}

.start progress::-webkit-progress-value {
    background: #f88;
}

.pause progress::-webkit-progress-value {
    background: #6d6;
}

.research-cover {
    position: absolute;
    z-index: 3;
    text-align: center;
    color: #fff;
    width: 940px;
    font-weight: 700;
    opacity: 0;
}

.research-cover:hover {
    opacity: 1;
}

.start .research-cover{
    background: rgba(0,80,0,0.7);
}

.pause .research-cover{
    background: rgba(80,0,0,0.7);
}

/* PARTY SELECT */

.party-select {
    width: 350px;
    border: solid 1px #000;
    float: left;
    margin-right: 10px;
    height: 500px;
    background: #fde;
}

.party-select .inner {
    height: 460px;
    overflow: scroll;
}

.party-select .inner-item{
    padding: 5px;
    margin-top: 0px;
}

.party-info {
    width: 590px;
    background: #eee;
    height: 500px;
    border: solid 1px #000;
    float: left;
    padding: 10px;
}

.portrait {
    float: left;
    height: 74px;
    width: 74px;
    background: black;
    margin-right: 8px;
    margin-bottom: 8px;
}

.hero-main-info {
    position: relative;
    font-size: 15pt;
    line-height: 90%;
}

.hero-name-class {
    position: absolute;
    z-index: 3;
    font-weight: 700;
    left: 90px;
}

.hero-hp {
    position: absolute;
    right: 20px;
    z-index:3;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

.hero-xp {
    position: absolute;
    right: 20px;
    z-index:3;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    top: 36px;
}

#personal-inventory {
    float: left;
}

.hero-main-info progress {
    z-index: 0;
    width: 475px;
    height: 20px;
    border: solid 1px #888;
    background: #666;
    margin:0px;
}

.hero-main-info progress::-webkit-progress-bar {
    background: #aaa;
}

#health-bar {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #64ff7d;
}

#xp-bar {
    position: absolute;
    top: 43px;
    right: 10px;
    color: #d9ff30;
}

#xp-bar::-webkit-progress-value {
    background: #d9ff30;
}

#health-bar::-webkit-progress-value {
    background: #64ff7d;
}

.stats-table {
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    float:left;
    margin-left:10px;
    height:74px;
    background: #ccc;
    width:70px;
    padding:3px;
    text-align: center;
}

.stats-table::first-line {
    font-weight: 700;
    color: #f00;
}

.hero-skills {
    height:300px;
    overflow:scroll;
}

.skill-slot {
    width: 560px;
    background: #fff;
    border:solid 1px #000;
    padding: 5px;
    position: relative;
}

.skill-slot ~ .skill-slot {
    border-top: none;
}

.cooldown {
    position: absolute;
    float:right;
    right: 5px;
    top: 0px;
}

/* INVENTORY */

.inventory-table {
    margin-bottom:10px;
}

.inventory-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.inventory-cell {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right:2px;
    margin-bottom:2px;
    background:#555;
    position: relative;
}

 .inventory-item {
    position: relative;
    width: 34px;
    height: 34px;
    background-image: url('https://i.imgur.com/ngGK5MF.png');
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.inventory-selected {
    -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
    -moz-box-shadow:inset 0px 0px 0px 2px #fff;
    box-shadow:inset 0px 0px 0px 2px #fff;
}

.inventory-item-sortable-placeholder {
    display: none;
}
.inventory-item.grape {
    background-position: 0px 0px;
}
.inventory-item.carrot {
    background-position: -34px -34px;
}

.item-desc {
    float:right;
    height: 227px;
    width: 635px;
    background: #eef;
    border: solid 1px #000;
    padding: 5px;
}

/* TEXT STYLES */

.header-text {
    font-weight: 700;
    font-size: 14pt;
}

.bold-aqua {
    color: #009acd;
    font-weight: 700;
}

.bold-amber {
    color: #ee6914;
    font-weight: 700;
}

.bold-blue {
    color: #000080;
    font-weight: 700;
}

.number {
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

/* THE GOLD G SYMBOL FOR COIN */

.gold-g {
    color: #ffff88;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
}